@import url('./styleIndex.css');

#FormDatos{
    border: solid 3px #474544;
    max-width: 768px;
    margin: 60px auto;
    position: relative;
    background: rgba(107, 0, 102, 0.769);
    font-family: sans-serif;

  }

  #FormDatos h4, #myFormulario{
    align-content: center;
    text-align: center;
    color: #ffffff;
  }
  input[type='text'], [type='email'], select, [type='number'], [type='tel'], [type='date'] {
    font-family: sans-serif;
    background: none;
    border: none;    
    border-bottom: solid 2px #474544;
    color: #ffffff;
    font-size: 1.000em;
    font-weight: 400;
    letter-spacing: 1px;
    margin: 0em 0 1.875em 0;
    padding: 0 0 0.875em 0;
    width: 100%;
    box-sizing: border-box;
}
  
#titleForm{
    color: #ffd900;
    font-size: 2rem;
    font-weight: bold;
}