@import url(styleIndex.css);

#titleBonito{
    justify-content: center;
    text-align: center;
    font-size: 5rem;
    margin: .5rem;
    color: #1111;
    -webkit-text-stroke: 2px #ffd900;
}

table{
    background-color: rgba(240, 248, 255, 0.705);
    justify-content: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

td{
    font-family: sans-serif;
    padding: 5px;
}